.fa-solid,
.fa-regular,
.fa-brands {
  width: 1.2em;
  min-width: 1rem;
  font-size: 1em;
  text-align: center;
}

*[ff=title], .post-title, h1, h2, h3, h4, h5, h6 {
  font-family: 'MaokenZhuyuanTi';
  font-synthesis: none;
}

.logo-wrap a.avatar,
.logo-wrap a.avatar img.avatar {
  border-radius: 2px;
}

.logo-wrap a.avatar div.bg {
  display: none;
}
