@font-face {
  font-family: AlimamaFangYuanTi;
  src: url('/static/AlimamaFangYuanTi.woff2');
}

.fa-solid,
.fa-regular,
.fa-brands {
  font-size: 1em;
  min-width: 1rem;
  width: 1.2em;
  text-align: center;
}

.logo-wrap a.avatar {
  border-radius: unset;
}

.logo-wrap a.avatar div.bg {
  display: none;
}

.logo-wrap a.avatar img.avatar {
  border-radius: 8px;
}
